@page
@model MarmaraWeb.Pages.odevlerModel
@{
    ViewData["Title"] = "Ödevler";
}
<!DOCTYPE html>
<html>

<body>
        <!--menü başlangıcı-->
    <ul class="nav nav-pills bg-primary">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Kategoriler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Topluluklar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">İletişim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/odevler">Ödevler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Students">Öğrenciler</a>
        </li>
    </ul>
    </header>
    <div class="container">
        <h2>
            Projeler:
        </h2>
        @foreach (var project in Model.Projects)
        {
            <h3>@project.projectName</h3>
        }
    </div>
    <!--menü bitişi-->

</body>
</html>